.container {
  display: grid;
  margin: -10px;
  grid-template-columns: 40px 70px auto 70px 40px;
  grid-template-rows: 100px;
}
.item-b {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(154, 221, 152);
}
.text-field {
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial CE, sans-serif;
}
