<div class="container">
  <!-- panel -->
  <div class="item-a">
    <div class="wrapper">
      <button class="button" (click)="saveText(input.value); input.value = ''">
        <mat-icon class="colored-icon">save</mat-icon>
      </button>
    </div>
  </div>
  <!-- text area -->
  <div class="item-b">
    <textarea id="input" #input placeholder="Your text here"></textarea>
  </div>
  <!-- saved files -->
  <div class="item-c">
    <div class="wrapper-c">
      <a *ngFor="let note of notes" class="file-unit">
        <button class="file-block" (click)="showText(data.value)">
          {{ note.id }}
          <br />
          <span #data>{{ note.data }}</span>
        </button>
      </a>
    </div>
  </div>
</div>
