<div class="container">
  <!-- panel -->
  <div class="item-a">
    <div class="wrapper">
      <button class="button" (click)="saveText(input.value); input.value = ''">
        <mat-icon class="colored-icon">save</mat-icon>
      </button>
    </div>
  </div>
  <!-- text area -->
  <div class="item-b">
    <textarea
      spellcheck="false"
      id="input"
      #input
      placeholder="Your text here..."
    ></textarea>
  </div>
  <!-- saved files -->
  <div class="item-c">
    <div class="wrapper-c">
      <div *ngFor="let note of notes" class="file-unit">
        <button class="close-button" (click)="deleteNote(note)">
          <mat-icon>close</mat-icon>
        </button>
        <button class="file-block" (click)="showText(note.id)">
          {{ note.id }}
          <br />
          {{ note.data }}
        </button>
      </div>
    </div>
  </div>
</div>
