<div class="container">
  <!-- panel -->
  <div class="item-a">
    <div class="wrapper">
      <button class="button" (click)="saveText()">
        <mat-icon class="colored-icon">save</mat-icon>
      </button>
    </div>
  </div>

  <!--edit tools-->
  <div class="item-d">
    <select id="select_font" onchange="changeStyle(this)">
      <option value="span-0" selected>None</option>
      <option value="span-b">Bold</option>
      <option value="span-u">Underlined</option>
      <option value="span-i">Italic</option>
    </select>
    <button (click)="toBold()">Bold</button>
  </div>

  <!-- text area -->
  <div class="item-b">
    <div
      contentEditable="true"
      class="textarea"
      id="input"
      spellcheck="false"
      data-text="Your text here..."
    ></div>
  </div>

  <!--edit tools-->
  <div class="item-e">hello</div>

  <!-- saved files -->
  <div class="item-c">
    <div class="wrapper-c">
      <div *ngFor="let note of notes" class="file-unit">
        <button class="close-button" (click)="deleteNote(note)">
          <mat-icon>close</mat-icon>
        </button>
        <button class="file-block" (click)="showText(note.id)">
          {{ note.id }}
          <br />
          {{ note.data }}
        </button>
      </div>
    </div>
  </div>
</div>
