/*grid*/
.container {
  display: grid;
  margin: 0px;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 80px auto 250px;
  width: 100vw;
  height: 100vh;
}
.item-a {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: rgb(53, 93, 224);
}
.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgb(114, 114, 114);
}
.item-c {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: rgb(84, 117, 228);
  overflow-y: auto;
  white-space: nowrap;
}
/*panel*/
.colored-icon {
  color: rgb(2, 1, 1);
  background: none;
  position: relative;
}

.wrapper {
  text-align: center;
}

.button {
  margin-top: 25px;
  position: relative;
  top: 50%;
  background: rgb(53, 93, 224);
  border-radius: 50%;

  outline: none;
}

.button:hover {
  background-color: #00bd86;
}

/*text area*/
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  resize: none;

  font-family: Arial CE, sans-serif;
  font-size: medium;

  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-left: 5%;
  padding: 20px;

  border-radius: 4px;

  outline: none;
}
/*saved files*/
.wrapper-c {
  text-align: center;
}

.file-unit {
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}

.file-block {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
  height: 150px;

  border: 0px;
  border-radius: 10px;
  background-color: rgba(34, 34, 255, 0.281);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;

  padding-left: 10px;
  color: aliceblue;
}

.file-block:hover {
  background-color: #00bd86;
}

/*scroll bar*/
::-webkit-scrollbar {
  width: 10px;
  height: 26px;
  border-radius: 13px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  border-radius: 13px;
}

::-webkit-scrollbar-thumb {
  border-radius: 13px;
  background-color: #00bd86;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

::-webkit-scrollbar:vertical {
  display: none;
}

/*close button*/
.close-button {
  border: none;
  background: transparent;
  position: relative;
  top: -40px;
  right: -145px;
  color: black;
}
.close-button:hover {
  color: rgb(240, 58, 34);
}
