.container {
  display: grid;
  margin: 0px;
  grid-template-columns: 40px 70px auto 70px 40px;
  grid-template-rows: 300px;
}
.item-a {
  margin-top: 10px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(158, 111, 202);
}

.text-field {
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial CE, sans-serif;
}
