.text-field {
  padding-top: 10px;
  padding-left: 10px;
  font-family: Arial CE, sans-serif;
}
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;

  width: 90%;
  height: 90%;
  margin-top: 30px;
  margin-left: 5%;
}
